.icon-02 {
  background-image: url(../img/icon-spritesheet.png);
  background-position: -192px 0px;
  width: 58px;
  height: 59px;
}
.icon-icon_level {
  background-image: url(../img/icon-spritesheet.png);
  background-position: 0px 0px;
  width: 147px;
  height: 169px;
}
.icon-nav_dot_address {
  background-image: url(../img/icon-spritesheet.png);
  background-position: -192px -59px;
  width: 58px;
  height: 59px;
}
.icon-nav_dot_coupon {
  background-image: url(../img/icon-spritesheet.png);
  background-position: -147px 0px;
  width: 45px;
  height: 60px;
}
